/* Deep-purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #5e35b1;
  --primary-hover: #673ab7;
  --primary-focus: rgba(94, 53, 177, 0.25);
  --primary-inverse: #FFF;
  
}

/* Deep-purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

h2.entry-title {
  margin-bottom: 0.5em;
}

header h2.entry-title {
  padding-top: 2.5em;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em;
}

div#main-page ol#post-list {
  padding-top:5em;
}

a.outline {
  color: #FFFFFF
}

a.social {
  color: #FFFFFF
}

article.hentry {
  margin-top: 0; 
  margin-bottom:1.5em; 
  padding: 25px;
}

main.container {
  padding-top: .75em
}

div.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #0b1014;
}

section#nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color:#0b1014;
}

  h1.page-title {
    margin-bottom: 0.75em; 
    padding-top: 2.5em;
  }

@media only screen and (max-width: 1107px) {
  #fadeshow1 {
      display: none;
  }
}

@media only screen and (max-width: 884px) {
#fadeshow2 {
    display: none;
}
h1.page-title {
  margin-bottom: 0.75em; 
  padding-top: 4.8em
}
div.grid {
  padding-bottom:0.75em;
}
div#main-page ol#post-list {
  padding-top:9em;
}

header h2.entry-title {
  padding-top: 5.2em;
}
div.grid {
  position: absolute;
}
}

@media only screen and (min-width: 884px) {
#fadeshow3 {
  display: none;
}
}
html {
  scroll-behavior: smooth;
}
