h2.entry-title a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.url {
    text-decoration: none;
}

nav.navbar ul li {
    color: #ffffff;
}

div#main-page ol#post-list {
    padding-top: 5em;
}

a.outline {
    color: #ffffff;
}

a.social {
    color: #ffffff;
}

article.hentry {
    margin-bottom: 1.5em;
    padding: 25px;
    border-radius: 20px;
}

article.page {
    margin-top: 5em;
    border-radius: 20px;
    padding: 2em;
}

article.article {
    margin-top: 5em;
    border-radius: 20px;
    padding: 2em;
}

article.article footer div#post-info {
    text-align: left;
    margin: auto;
}

main.container {
    padding-top: 0.75em;
}

div.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0b1014;
}

section#nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #0b1014;
}

h1.page-title {
    margin-bottom: 0.75em;
}
h1.author-category-tags-title {
    margin-bottom: 0.75em;
    padding-top: 2.5em;
    padding-left: 0.6em;
}

@media only screen and (max-width: 1107px) {
    #fadeshow1 {
        display: none;
    }
}

@media only screen and (max-width: 884px) {
    #fadeshow2 {
        display: none;
    }
    h1.page-title {
        margin-bottom: 0.75em;
        padding-top: 4.8em;
    }
    div.grid {
        padding-bottom: 0.75em;
    }
    div#main-page ol#post-list {
        padding-top: 9em;
    }

    header h2.entry-title {
        padding-top: 5.2em;
    }

    article.page {
        margin-top: 9em;
        padding-top: 1em;
        border-radius: 20px;
    }

    h1.page-title {
        padding: 0;
        margin-bottom: 0.75em;
    }

    article.article {
        margin-top: 9em;
        padding-top: 1em;
        border-radius: 20px;
    }

    h1.author-category-tags-title {
        margin-bottom: 0.75em;
        padding-top: 4.8em;
        padding-left: 0.75em;
    }
}

@media only screen and (min-width: 884px) {
    #fadeshow3 {
        display: none;
    }
}
html {
    scroll-behavior: smooth;
}

.toc {
    display: table;
    width: auto;
}

/* TOC heading in bold */
.toc .toctitle {
    font-weight: bold;
}

/* No bullets for toc list, indentation of nested lists 1em */
.toc ul {
    padding-left: 1rem;
    margin-bottom: 0.75em;
}

.toc ul li {
    list-style-type: disclosure-closed;
}

article.article h3 {
    margin-top: 0.75em;
}

article.article a {
    text-decoration: none;
}

article.page a {
    text-decoration: none;
}

video {
    max-width: 100%;
    height: auto;
    border-style: none;
    border-radius: 5px;
}

img {
    border-style: none;
    border-radius: 5px;
}

code {
    color: var(--pico-color);
}
