/* Deep-purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #5e35b1;
  --primary-hover: #673ab7;
  --primary-focus: rgba(94, 53, 177, 0.25);
  --primary-inverse: #FFF;
  
}

/* Deep-purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

@media only screen and (max-width: 1026px) {
    #fadeshow1 {
        display: none;
    }
}

h2.entry-title {
  margin-bottom: 0.5em;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em;
}

ol#post-list {
  padding:0;
}
