/* Deep-purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #A5D6FF;
  --primary-hover: #4DAFFF;
  --primary-focus: rgba(94, 53, 177, 0.25);
  --primary-inverse: #FFF;
  --muted-color: #FFF; 
}

/* Deep-purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

h2.entry-title {
  padding: auto;
}

header h2.entry-title {

}

h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em;
}

div#main-page ol#post-list {
  padding-top:5em;
}

a.outline {
  color: #FFFFFF
}

a.social {
  color: #FFFFFF
}

article.hentry {
  margin-top: 0; 
  margin-bottom:1.5em; 
  padding: 25px;
  border-radius: 20px;
}

article.page {
  margin-top: 5em; 
  padding-top: 1em;
  border-radius: 20px;
}

article.article {
  margin-top: 5em; 
  padding-top: 1em;
  border-radius: 20px;
}

article.article footer div#post-info {
 text-align: left;
 margin: auto;
}

main.container {
  padding-top: .75em
}

div.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b1014;
}

section#nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color:#0b1014;
}

h1.page-title {
    margin-bottom: 0.75em;
}
h1.author-category-tags-title {
    margin-bottom: 0.75em;
    padding-top: 2.5em;
    padding-left: 0.6em;
}

@media only screen and (max-width: 1107px) {
  #fadeshow1 {
      display: none;
  }
}

@media only screen and (max-width: 884px) {
#fadeshow2 {
    display: none;
}
h1.page-title {
  margin-bottom: 0.75em; 
  padding-top: 4.8em
}
div.grid {
  padding-bottom:0.75em;
}
div#main-page ol#post-list {
  padding-top:9em;
}

header h2.entry-title {
  padding-top: 5.2em;
}

article.page {
  margin-top: 9em; 
  padding-top: 1em;
  border-radius: 20px;
}

h1.page-title {
  padding:0;
  margin-bottom: 0.75em; 
}

article.article {
  margin-top: 9em; 
  padding-top: 1em;
  border-radius: 20px;
}


h1.author-category-tags-title {
  margin-bottom: 0.75em;
  padding-top: 4.8em;
  padding-left: 0.75em;
}
}

@media only screen and (min-width: 884px) {
#fadeshow3 {
  display: none;
}
}
html {
  scroll-behavior: smooth;
}

.toc {
    display: table;
    width: auto;
}

/* TOC heading in bold */
.toc .toctitle {
    font-weight: bold;
}

/* No bullets for toc list, indentation of nested lists 1em */
.toc ul {
    padding-left: 1rem;
    margin-bottom: 0.75em;
}

.toc ul li {
    list-style-type: disclosure-closed;
}

article.article h3 {
  margin-top: 0.75em;
}
